@media all {html {font-size: 24px;}}
@media all and (max-width:1000px){html {font-size: 24px;}}
@media all and (max-width:960px){html {font-size: 23px;}}
@media all and (max-width:920px){html {font-size: 22px;}}
@media all and (max-width:880px){html {font-size: 21px;}}
@media all and (max-width:840px){html {font-size: 20px;}}
@media all and (max-width:800px){html {font-size: 19px;}}
@media all and (max-width:760px){html {font-size: 18px;}}
@media all and (max-width:720px){html {font-size: 17px;}}
@media all and (max-width:680px){html {font-size: 16px;}}
@media all and (max-width:640px){html {font-size: 15px;}}
@media all and (max-width:600px){html {font-size: 14px;}}
@media all and (max-width:560px){html {font-size: 13px;}}
@media all and (max-width:520px){html {font-size: 18px;}}

/* TODO Use a font with old-style numerals. */
body {
  font-family: 'Libre Baskerville', serif;
  font-variant-numeric: oldstyle-nums;
  max-width: 1000px;
}

body > * {
  margin-left: 12rem;
  margin-right: 2rem;
}

@media all and (max-width: 520px) {
body > * {
  margin: 2rem;
}
}

/**
 * TODO Hanging punctuation in CSS 3 is not currently supported by any
 * browser.
 */
p {
    hanging-punctuation: first allow-end last;
}

div.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* TODO Use a font with titling caps. */
h1 {
  font-variant-caps: titling-caps;
}

/* TODO Use a font with small caps. */
abbr {
  font-variant-caps: small-caps;
}

header {
  margin-bottom: 10ex;
}

header p {
  font-variant-caps: small-caps;
  font-size: 120%;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 3em;
  font-size: 100%;
  font-variant-caps: small-caps;
}

p {
    margin-bottom: 1rem;
}

nav ul {
  list-style-type: none;
  line-height: 150%;
  padding-left: 0;
}

aside {
    color: #666;
    font-size: 80%;
    font-style: italic;
    left: 0;
    margin-left: 2rem;
    position: absolute;
    text-align: right;
    width: 8rem;
}

@media all and (max-width: 520px) {
aside {
    position: inherit;
    width: inherit;
    text-align: left;
    margin: inherit;
}
}

aside p {
  margin: 0;
}

pre.java {
  font-size: 80%;
  padding-left: 1em;
}

pre.command-line {
  font-size: 80%;
  margin-left: 1rem;
}

pre.command-line .command:before {
  content: "$ ";
}

/* These styles are for the example blocks. */
div.example {
    margin-bottom: 1rem;
    position: relative;
}

div.example:last-child {
    margin-bottom: 0;
}

/* TODO Use a font with titling caps. */
div.example:before {
    content: "☞ Example";
    font-variant-caps: titling-caps;
    margin-left: -1.2rem;
}

/*!
 * These styles add line numbers and comment formatting to example code.
 **/
div.example pre {
  counter-reset: line;
  padding-left: 2.5rem;
  font-size: 80%;
}

div.example pre:last-child {
  margin-bottom: 0;
}

div.example pre > span {
  counter-increment: line;
}

div.example pre > span:before {
  color: #666;
  content: counter(line);
  left: 0px;
  margin-left: 0;
  position: absolute;
  text-align: right;
  width: 2em;
  -webkit-user-select: none;
}

div.example pre > span.comment {
  font-style: italic;
  color: #444;
}

div.example pre > span.comment:before {
  font-style: normal;
}
