@media all {html {font-size: 24px;}}
@media all and (max-width:1000px){html {font-size: 24px;}}
@media all and (max-width:960px){html {font-size: 23px;}}
@media all and (max-width:920px){html {font-size: 22px;}}
@media all and (max-width:880px){html {font-size: 21px;}}
@media all and (max-width:840px){html {font-size: 20px;}}
@media all and (max-width:800px){html {font-size: 19px;}}
@media all and (max-width:760px){html {font-size: 18px;}}
@media all and (max-width:720px){html {font-size: 17px;}}
@media all and (max-width:680px){html {font-size: 16px;}}
@media all and (max-width:640px){html {font-size: 15px;}}
@media all and (max-width:600px){html {font-size: 14px;}}
@media all and (max-width:560px){html {font-size: 13px;}}
@media all and (max-width:520px){html {font-size: 18px;}}

/* TODO Use a font with old-style numerals. */
body {
  font-family: 'Libre Baskerville', serif;
  font-variant-numeric: oldstyle-nums;
}

body > * {
  margin-left: 12rem;
  margin-right: 2rem;
}

@media all and (max-width: 520px) {
body > * {
  margin: 2rem;
}
}

div.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* @media all and (max-width: 520px) { */
/* div.container { */
/*     margin-left: 0; */
/* } */
/* } */

/* TODO Use a font with titling caps. */
h1 {
  font-variant-caps: titling-caps;
}

/* TODO Use a font with small caps. */
abbr {
  font-variant-caps: small-caps;
}

header {
  margin-bottom: 10ex;
}

header p {
  font-variant-caps: small-caps;
  font-size: 120%;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 3em;
  font-size: 100%;
  font-variant-caps: small-caps;
}

nav ul {
  list-style-type: none;
  line-height: 150%;
  padding-left: 0;
}

pre.command-line {
  font-size: 80%;
  margin-left: 1rem;
}

pre.command-line .command:before {
  content: "$ ";
}

/*!
 * These styles add line numbers and comment formatting to example code.
 **/
pre.ae-code {
  counter-reset: line;
  padding-left: 3.5em;
  font-size: 80%;
}

pre.ae-code > span {
  counter-increment: line;
}

pre.ae-code > span:before {
  color: gray;
  content: counter(line);
  left: 0px;
  margin-left: 1.5em;
  position: absolute;
  text-align: right;
  width: 2em;
  -webkit-user-select: none;
}

pre.ae-code > span.comment {
  font-style: italic;
}

pre.ae-code > span.comment:before {
  font-style: normal;
}

/*!
 * These styles come from Bootstrap's documentation website.
 *
 * Bootstrap Docs (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under the Creative Commons Attribution 3.0 Unported License. For
 * details, see http://creativecommons.org/licenses/by/3.0/.
 */
.ae-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}

.ae-example:after {
  content: "Example";
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width:768px) {
  .ae-example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
}

.ae-example>p:last-child {
  margin-bottom: 0;
}
