*~

# Eclipse configuration files
.classpath
.settings
.project
.eclipse/
.checkstyle

# Compiled class files and target directory
target/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
